**.zcompdump*
**/nvim/plugged
**/nvim/.netrwhist
**/mpv/watch_later*
**/ncmpcpp/error.log
**/ranger/bookmarks
**/ranger/history
**/ranger/tagged

**/weechat/logs
**/weechat/weechat.log
**/weechat/sec.conf
**/weechat/urlserver_list.txt
**/weechat/script/*
**sync-conflict**
**/qutebrowser/bookmark
**/qutebrowser/quickmarks
